/*========================================================================================
                                 Start Responsive Style
========================================================================================*/

/*==================Desktop only==============*/
@media only screen and (min-width: 1200px) {
    .training-area .service-single-item  > ul {
        margin: auto;
        min-height: 200px;
    }
    .private-session .service-single-item > ul, .private-session .service-single-item > div {
        width: 45%;
        margin: auto;
    }
    .semi-private-session .service-single-item > ul , .semi-private-session .service-single-item > div {
        width: 55%;
        margin: auto;
    }
}

/*==================Large Display and Foward==============*/
@media only screen and (min-width: 992px) {
    .service-area .col-sm-6 {
        min-height: 280px;
    }
    .training-area ul {
        min-height: 100px;
    }
    .about-area div.col-md-11 {
        margin: 0 auto;
        float: none;
        padding: 0 30px;
    }
    .follow-me ul {
        width: 120px;
    }
    .follow-me li:first-child {
        float: left;
    }
    .follow-me li:last-child {
        float: right;
    }
    .client-progress {
         margin-top: 0;
    }
}
/*==================Medium Display and Foward==============*/
@media only screen and (min-width: 768px){
    .navbar-collapse.collapse {
        margin-top: 20px;
    } 
    .follow-me h1 {
        font-size: 40px;
        line-height: 75px;
        margin: 0 auto;
        width: 52%;
    }
    .follow-me li a i {
        font-size: 25px;
        height: 35px;
        padding-left: 1px;
        padding-top: 5px;
        width: 35px;
    }
        .owl-stage-outer .owl-stage {
        padding-top: 30px;
    }
    .owl-stage-outer .owl-item .client-info {
        width: 50%;
    }
    .owl-stage-outer .owl-item .client-info {
        float: left;
    }
    .client-info .white, .client-info .client-img {
        display: inline-block;
    }
    .client-progress {
        margin-top: 20px;
         float: right;
         width: 40%;
    }
    .client-progress .fa-trophy {
        display: block;
    }
    .client-progress img {
        width: 100%;
    }
    .client-info p {
        font-size: 14px;
    }
}
/*==================Large Display==============*/
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .container{
        width: 970px;
    }
    .follow-me-2::before {
        left: 140px;
    }
    .follow-me-2::after {
        right: 140px;
    }

    .service-area .col-sm-6 {
        min-height: 308px;
    }
    .training-area .service-single-item  > ul {
        margin: auto;
        min-height: 210px;
    }
    .semi-private-session .service-single-item > ul, .semi-private-session .service-single-item > div {
        width: 70%;
        margin: auto;
    }
    .private-session .service-single-item > ul, .private-session .service-single-item > div {
        width: 55%;
        margin: auto;
    }
}

/*==================Medium Display==============*/
@media only screen and (min-width: 768px) and (max-width: 991px){
    .container{
        width: 750px;
    }
    .follow-me h1 {
        font-size: 40px;
        line-height: 60px;
        
    }
    .follow-me-2::before {
        left: 110px;
    }
    .follow-me-2::after {
        right: 110px;
    }
    .service-area .col-sm-6 {
        min-height: 398px;
    } 
    .training-area .service-single-item  > ul {
        margin: auto;
        min-height: 210px;
    }
    .semi-private-session .service-single-item > ul, .semi-private-session .service-single-item > div {
        width: 90%;
        margin: auto;
    }
    .private-session .service-single-item > ul {
        width: 75%;
    }
    .private-session .service-single-item > div {
        width: 80%;
        margin: auto;
    }
    .service-area .col-sm-6:nth-child(2) h3 {
        line-height: 70px;
    } 
}

/*============Tab Display==============*/
@media only screen and (max-width: 767px){
    .container{
        width: 450px;
    }
    .ptb-1 {
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .logo p{
        line-height: 55px;
    }
    header.header-area.sticky .logo {
        padding-top: 8px;
    }
    .navbar-toggle {
        margin-top: -60px;
        margin-right: 0;
        cursor: pointer;
        padding-right: 0;
    }
    .navbar{
        min-height: 0;
    }
    .nav.navbar-nav.navbar-right > li {
        background: #f9f9f9;
        border-bottom: 1px solid #444;
    }
    .navbar-nav > li {
        display: block;
        margin-right: 0;
        padding: 0;
    }
    .nav.navbar-nav.navbar-right > li:last-child{
        border-bottom: 1px solid transparent;
    }
    .main-menu .navbar-nav > li > a {
        line-height: 50px;
        color: #333;
    }
    header.sticky .header-area .navbar-nav > li {
        padding-left: 0;
    }
    .sticky .main-menu .navbar-nav > li > a {
        color: #333;
        line-height: 50px;
    }
    .navbar-collapse {
        box-shadow: none;
    }
    .training-area .service-single-item {
        margin-bottom: 80px;
    }
    .training-area .sessions-cost {
        margin-top: 40px;
    }
}

/*=============Medium Mobile Screen==============*/
@media only screen and (min-width: 480px) and (max-width: 767px){
    .ptb-1 {
        padding-bottom: 70px;
        padding-top: 70px;
    }
    h1 {
        font-size: 45px;
    }
    h3 {
        font-size: 25px;
    }
    .follow-me-2::before {
        left: 45px;
        width: 60px;
    }
    .follow-me-2::after {
        right: 45px;
        width: 60px;
    }
    .service-single-item {
        padding: 0 20px;
        text-align: center;
    }
    .single-contact-info {
        margin-bottom: 30px;
    } 
}

/*============Small Mobile Display==============*/
@media only screen and (min-width: 300px) and (max-width: 479px) {
    .container {
        width: 300px;
    }
    .ptb-1 {
        padding-bottom: 70px;
        padding-top: 70px;
    }
    h1 {
        font-size: 30px;
        line-height: 60px;
    }
    h3 {
        font-size: 22px;
        line-height: 36px;
    }
    h5 {
        font-size: 17px;
    }
    .follow-me-2::before {
        display: none;
    }
    .follow-me-2::after {
        display: none;
    }
    .portfolio-menu > li {
        margin-right: 8px;
    }
    .project-item:hover .hover-mask h4 {
        top: 25%;
    }
    .project-item:hover .hover-mask i {
        bottom: 25%;
    }
    .single-contact-info {
        margin-bottom: 30px;
    }
}